<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whms.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.whms.entity.Customer">
        <id column="cid" property="cid" />
        <result column="csex" property="csex" />
        <result column="cage" property="cage" />
        <result column="cname" property="cname" />
        <result column="caddr" property="caddr" />
        <result column="cphone" property="cphone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cid, csex, cage, cname, caddr, cphone
    </sql>

</mapper>
