<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whms.mapper.GoodMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.whms.entity.Good">
        <id column="gid" property="gid" />
        <result column="gname" property="gname" />
        <result column="gtype" property="gtype" />
        <result column="gunit_price" property="gunitPrice" />
        <result column="gunit" property="gunit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        gid, gname, gtype, gunit_price, gunit
    </sql>

</mapper>
